.main
{
    display: flex;
    flex-direction: column;
    background-color: rgb(112, 117, 144);
    gap: 10px;
    padding: 10px 20px;
    height: 100vh; /* Makes sure it takes the full height of the viewport */

}

.lot-container
{
  position: relative;
    display: flex;
    margin-top: 10px;
    background-color: white;
    // height: 929px;
    // align-items: center;
    padding: 20px 50px;
    border-radius: 10px;
    gap: 20px;
    flex-direction: column;
    height: 100%;
}
.info{
    display: flex;
    flex-direction: row;
    
    .text{
        width:25%;
        display: flex;
    margin-top: 10px;
    // background-color: rgb(227, 247, 7);
    // height: 929px;
    // align-items: center;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    flex-direction: column;
    }
    .map{
        width: 100%; /* Make the map container take the full width of its parent */
    display: flex;
    flex: 1;
    position: relative;
    }
    

}
.lot-content {
    padding: 1.5rem;
  }
  
  .lot-name {
    font-size: 3.25rem;
    font-weight: 600;
    color: #1f2937;
    margin-bottom: 0.5rem;
  }
  
  .lot-location {
    // align-items: center;
    align-content: center;
    display: flex;
    align-items: center;
    color:black;
    font-size: 3.25rem;
    // margin-bottom: 1.5rem;
  
    .location-icon {
    color: black;
      width: 1rem;
      height: 4rem;
      margin-right: 1.5rem;
      scale: 2;
    }
  }

  .spot-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-size: 3rem;
    color: black
  }
  
  .spot-icon {
    width: 1rem;
    height: 4rem;
    margin-right: 1.5rem;
    scale:2;
    &.ev { color: #059669; }
    &.disabled { color: #2563eb; }
    &.regular { color: #6b7280; }
  }
  

  google-map {
    display: block;
    position: relative;
    width: 100%; /* Full width of the parent */
    height: 100%; /* Adjust height as needed */
    margin: 0; 
  }

  .spots-grid {
    position: relative;
    height:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    // grid-auto-rows: 100px; /* Set a fixed height for each row */

    gap: 2rem;
    padding: 1rem;
    background-color: #dadada;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.279);

    // border: 1px solid rgb(184, 184, 184);
    border-radius: 10px;
    text-align: center;
    align-content: center;
    // height: 420px;
    p{
      color: white;
      font-size: 30px;
      
    }
  }

  .horizontal{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    align-items: center;
    font-size: 35px;
  }
  
  .spot-grid {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 1rem;
    // background-color: white;
    grid-auto-rows: 50px; /* Set a fixed height for each row */
    font-size: 25px;
    text-align: center;
    .text
    {
      align-content: center;
    }
  }

  .spot-typee {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    // gap: 10px;
    font-size: 30px;
    color: black;
    font-weight: 550;
  }

  .image
    {
        width: 1rem;
      height: 2rem;
      margin-right: 2rem;
      scale: 2;
      &.ev { color: #059669; }
      &.disabled { color: #2563eb; }
      &.regular { color: #6b7280; }
    }
:host{

  ::ng-deep .p-calendar{
    background-image:none;
    position: relative;
    width: 100%;
    transform: translate(10px,10px);
    background-color: white;
  
  }
  ::ng-deep .p-calendar input {
    // background-color: black;
    border: none;
    border-bottom:1px solid  ;
    border-color: black;
    background-color: white;
  }

  ::ng-deep .p-inputtext{
    color:black;
    background-color: white;
  }
}
.reserve-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  background-color: #007ACC;
  color: white;
  border-radius: 0.5rem;
  border: none;
  font-weight: 500;
  transition: background-color 0.2s;

  &:hover {
    background-color: #1d4ed8;
  }

  .arrow-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 0.5rem;
  }
}

.spotstyle
{
  border-radius: 50px;
}
h4{
  color: black;
}